*{
    box-sizing: border-box;
}
.container {
    width: 1300px;
    margin: auto;
    /* outline: solid 1px black;     */
}
.header{
    background-color:#0E1D34 ;
    height: 650px;
}
.bgimage{
    background-image: url(../hero-bg.png);
    background-size: cover;
    position: relative;
    background-color:#0E1D34 ;
}
.header-flex .tittle {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.header-flex .header-logo a{
    /* display: flex; */
    font-size: 28px;
    padding-right: 365px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
}
.navbar {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
.navbar li a {
    text-decoration: none;
    color: rgb(224, 221, 217);
    padding-right: 25px;
    /* padding-top: 50px; */
    font-family: sans-serif;
}
.navbar li a:hover {
    color: #fff;
}
.tittle-button .nagaraj {
    font-size: 15px;
    margin-top: -8px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #eee;
    background-color: #0e36c7 ;
}
.tittle-button .nagaraj:hover{
    background-color:#4768dd;
    color: #fff;
}
.head-all{
    display: flex;
}
.head-content {
    width: 50%;
    margin-top: 50px;
    margin-left: 40px;
}
.head-paragraph {
    margin-left: 20px;
    margin-top: 20px;
}
.head-paragraph h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 35px;
}
.head-paragraph p {
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    padding-bottom: 20px;
    line-height: 22px;
}
.form-box{
    margin-top: 30px;
    margin-left: 15px;
}
.form-box .form-input {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    border: none;
}
.form-box .raja{
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #0d42ff;
    color: #eee;
}
.numbers .mani{
    display: flex;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
}
.mani h3{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.hrline{
    color: #eee;
    height: 2px;
    width: 20%;
}
.mani p{
    font-size: 20px;
    color: #eee;
    text-align: center;
    justify-content: center;
    padding-right: 20px;
}
.header-image {
    width: 50%;
    margin-top: 70px;
    margin-left: 90px;
}
.achivements-flex{
    display: flex;
    width: 100%;
}
.sub-achive{
    display: flex;
    margin: 25px;
    width: 33.33%;
    height: 150px;
}
.sub-achive a{
    text-decoration: none;
}
.sub-achive .achivement-box{
    width: 20%;
}
.achivement-box a{
    margin-left: 40px;
    padding-right: 30px;
    font-size: 50px;
    color: #0a0d13;
}
.achivement-box a i {
    padding-right: 30px;
}
.sub-achive .achive-content{
    width: 80%;
    margin-left: 15px;
    margin-top: 10px;
}
.achive-content h3 a{
    font-size: 25px;
    padding-bottom: 15px;
    color: #0a0d13;
}
.achive-content p{
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 20px;
}
.achive-content p a{
    color: #242527;
}
.sub-achive :hover a {
    color: #001f8d;
}

.about-flex{
    display: flex;
    width: 100%;
}
.about1{
    width: 50%;
}
.about1 .about-content h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    color: #001f8d;
}
.about-content p{
    font-size: 15px;
    color: #0e1d34;
    font-weight: 300;
    line-height: 20px;
    font-family: sans-serif;
    padding-bottom: 30px;
}
.logo1-text{
    width: 100%;
    display: flex;
}
.colect-logo {
    width: 20%;
    margin-bottom: 50px;
}
.colect-logo a {
    font-size: 50px;
    text-decoration: none;
    color:  #0d42ff;
}
.logo-content{
    width: 80%;
    margin-right: 100px;
}
.logo-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #19335c;
    padding-bottom: 10px;
}

.about2{
    width: 50%;
    margin: 15px;
}
.image-content{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.image-content img{
    width: 636px;
    height: 480px;
}
.services{
    margin-top: 90px;
}
.name-service h3{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #001973;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}
.services-flex{
    display: flex;
    flex-wrap: wrap;
}
.service-box{
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 60px;
    /* border: 1px solid rgb(54, 53, 53); */
    /* background-color: #fff; */
    
}
.service-image {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    /* height: auto; */
}
.service-image img{
   width: 417px;
   height: 313px;
   transition: all 0.5s;
}
.service-image:hover img{
    transform: scale(1.1);
}
.outline-service{
    outline: solid 1px rgb(90, 87, 87);
    padding-bottom: 15px;
}
.outline-service h4 a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.outline-service p{
    font-size: 15px;
    padding: 15px;
    line-height: 20px;
}
.cas{
    background-color: #242527;
    margin-top: 20px;
    height: 300px;
}
.cas-image{
    /* background-image: url(../cta-bg.jpg); */
    /* width: 100%; */
    /* height: 700px; */
    /* position: relative; */
    /* overflow: hidden; */
}
.cas-head{
    width: 100%;
}
.cas-head h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding-top: 50px;
}
.cas-head p {
    font-size: 18px;
    color: #eee;
    text-align: center;
    padding-top: 25px;
    line-height: 25px;
}
.vijay{
    text-align: center;
    margin-left: 570px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #4f5155;
    border: solid 1.5px #fff;
    color: #fff;
}
.vijay:hover{
    background-color: #0d42ff;
    transition: all 0.6s;
}
.features-flex{
    display: flex;
    margin-top: 40px;
}
.features-box1{
    display: flex;
}
.features-img1 img{
    margin-left: 40px;   
}
.feature-content1{
    width: 60%;
}
.feature-content1 h1{
    font-size: 30px;
    font-weight: bold;
    color: #242527;
    padding-left: 20px;
    padding-top: 50px;
}
.feature-content1 p{
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 20px;
}
.feature-content1 ul{
    margin-left: 20px;
    padding-top: 20px;
}
.feature-content1 ul li{
    line-height: 40px;
}
.feature-content1 ul i{
    font-size: 20px;
    padding-right: 5px;
    color: #0d42ff;
}
.features-box2{
    display: flex;
    margin-top: 50px;
}
.feature-content2{
    width: 60%;
}
.feature-content2 h2{
    font-size: 30px;
    font-weight: bold;
    color: #242527;
    padding-left: 20px;
    padding-top: 50px;
}
.feature-content2 .paragraph1{
    font-size: 15px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}
.feature-content2 .paragraph2{
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 20px;
    line-height: 20px;
}
.features-box3{
    display: flex;
    margin-top: 50px;
}
.features-img3 img{
    margin-left: 40px;   
}
.feature-content3{
    width: 60%;
}
.feature-content3 h1{
    font-size: 30px;
    font-weight: bold;
    color: #242527;
    padding-left: 20px;
    padding-top: 50px;
}
.feature-content3 p{
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 20px;
}
.feature-content3 ul{
    margin-left: 20px;
    padding-top: 20px;
}
.feature-content3 ul li{
    line-height: 40px;
}
.feature-content3 ul i{
    font-size: 20px;
    padding-right: 5px;
    color: #0d42ff;
}
.features-box4{
    display: flex;
    margin-top: 50px;
}
.feature-content4{
    width: 60%;
}
.feature-content4 h2{
    font-size: 30px;
    font-weight: bold;
    color: #242527;
    padding-left: 20px;
    padding-top: 50px;
}
.feature-content4 .paragraph1{
    font-size: 15px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}
.feature-content4 .paragraph2{
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 20px;
    line-height: 20px;
}
.pricing{
    margin-top: 60px;
    margin-bottom: 40px;
}
.tittle-price{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    color: #001f8d;
}
.pricing-flex{
    display: flex;
    margin: 20px;
}
.price-box{
    padding: 90px 90px;
    border-radius: 5px;
    box-shadow: 0 5px 20px -2px rgb(108 117 125 /15%);
    /* width: 33.33%; */
    /* margin-left: 40px; */

    /* box-sizing: border-box; */
    /* box-shadow: 0 0 5px 0; */
    /* margin: 20px; */
}
.price-box span{
    color: #4f5155;
}
.price-box h3{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #0a0d13;
}
.price-box h4{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #4768dd;
}
.price-box h4 sup{
    font-size: 26px;
    top: -0.5em;
    /* margin-bottom: 30px; */
}
.price-box ul{
    /* padding: 20px 0; */
    list-style: none;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
}
.price-box ul li{
    padding-bottom: 15px;
}
.price-box ul li i{
    color: green;
    padding-right: 5px;
}
.price-box .kumar{
    font-size: 15px;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0d42ff;
    color: #eee;
}
.price-box .muthu{
    font-size: 15px;
    width: 110px;
    height: 50px;
    border-color: #0d42ff;
    border-radius: 5px;
    color: #0d42ff;
}
.price-box .muthu:hover{
    background-color: #0d42ff;
    color: #fff;
    transition: all 0.5s;
}
.ratings{
    width: 100%;
    height: 550px;
    position: relative;
}
.ratings .big-image{
    background-image: url(../testimonials-bg.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}
.big-image::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 500px;
}
.rating-content{
    /* margin-bottom: 500px; */
    margin-left: 550px;
}
.rating-content img{
    width: 25%;
    margin-bottom: 30px;
    position: relative;
    border-radius: 50%;
    border: 6px solid rgb(99, 97, 94);
}
.head-rate{
    margin-left: 50px;
}
.head-rate h2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 60px;
    padding-bottom: 10px;
}
.head-rate h4{
    color: #fff;
    text-align: center;
    padding-left: 60px;
}
.head-rate p{
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    text-align: center;
}
.head-rate p i{
    color: #9da1a5;
    padding-bottom: 25px;
}
.head-rate ul{
    display: flex;
    justify-content: center;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.head-rate ul i{
    color: gold;
}
.ratings-flex{
    position: absolute;
    top: 20%;
}
.faq{
    margin-top: 70px;
}
.title-faq{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    color: #001f8d;
}
.faq-flex{
    display: flex;
    height: 500px;
}
.india{
    box-shadow: 0 5px 20px -3px rgba(11, 51, 83, 0.15);
    padding-left: 100px;
    
}
.india summary{
    font-size: 20px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.india p{
    font-size: 20px;
    text-align: left;
}
.india summary:hover{
    color: #0d42ff;
}
.footer{
    background-color: #0E1D34;
}
.footer-flex{
    display: flex;
    height: 350px;
}
.footer-row1{
    margin-top: 30px;
}
.footer-row1 h2 a{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer-row1 p{
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logis-icon a{
    text-decoration: none;
}
.logis-icon a i{
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    color: #eee;
}
.footer-row2{
    margin-top: 30px;
    margin-left: 80px;
}
.footer-row2 h3{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: #fff;
}
.footer-row2 ul a{
    text-decoration: none;
    color: #9da0a3;
}
.footer-row2 ul li {
    padding-bottom: 20px;
}
.footer-row2 ul a:hover{
    color: #fff;
}
.footer-row3{
    margin-top: 30px;
    margin-left: 80px;
}
.footer-row3 h3{
    color: #fff;
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}
.footer-row3 .box-1{
    color: #fff;
    line-height: 25px;
}
.footer-row3 .box-2{
    color: #fff;
    padding-top: 30px;
    line-height: 25px;
}
.legel{
    background-color: #0E1D34;
}
.legel-flex{
    height: 100px;
}
.legel-box h2{
    color: #fff;
    text-align: center;
}
.legel-box p{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

